.header {
	display: flex;
	flex-direction: column;
	@media (max-width: rem(1035)) {
		flex-direction: column-reverse;
	}
	// .header__container
	&__container {
	}
	// .header__top
	&__top {
	}
	// .header__bottom
	&__bottom {
		padding: rem(22) 0;
		border-bottom: rem(1) solid #e5e5e5;
	}
}
.top-header {
	min-width: rem(30);
	background: #f7f7f7;
	// line-height: 2;
	@media (min-width: rem(1036)) {
		color: $colorText;
		font-size: rem(14);
		line-height: math.div(17, 14);
		letter-spacing: -0.03em;
		opacity: 0.6;
	}
	// .top-header__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .top-header__nav
	&__nav {
		border-bottom: rem(1) solid #e5e5e5;
	}
	// .top-header__list
	&__list {
		display: none;
		@media (min-width: rem(1036)) {
			display: flex;
			gap: rem(30);
			padding: rem(8) 0;
		}
	}
	// .top-header__item
	&__item {
	}
	// .top-header__link
	&__link {
		padding: rem(10) 0;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $hoverRed;
			}
		}
	}
	// .top-header__location
	&__location {
		display: none;
		@media (min-width: rem(1036)) {
			display: flex;
			flex-direction: row-reverse;
			gap: rem(10);
			align-items: center;
			padding: rem(8) 0;
			transition: color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: $hoverRed;
				}
			}
			&::before {
				font-size: rem(10);
				transform: translateY(15%);
			}
		}
	}
}
.bottom-header {
	// .bottom-header__container
	&__container {
		display: flex;
		align-items: center;
	}
	// .bottom-header__logo
	&__logo {
		&:not(:last-child) {
			@include adaptiveValue("margin-right", 30, 15);
		}
	}
	// .bottom-header__nav
	&__nav {
		&:not(:last-child) {
			@include adaptiveValue("margin-right", 60, 20, 1390, 1000, 1);
		}
	}
	// .bottom-header__list
	&__list {
		display: flex;
		gap: rem(20);
		align-items: center;
		padding: rem(10) 0;
	}
	// .bottom-header__item
	&__item {
	}
	// .bottom-header__link
	&__link {
		font-weight: 600;
		font-size: rem(18);
		line-height: math.div(22, 18);
		letter-spacing: -0.03em;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $hoverRed;
			}
		}
	}
	// .bottom-header__issuance
	&__issuance {
		display: inline-flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: rem(10);
		letter-spacing: -0.03em;
		color: $colorText;
		border: 1px solid #ffffff;
		transition: all 0.3s ease 0s;
		padding: rem(5) rem(18);
		&::before {
			font-size: rem(14);
			color: $hoverRed;
			transform: rotate(-45deg);
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-right", 50, 10, 1390, 1000, 1);
		}
		@media (any-hover: hover) {
			&:hover {
				background: #f7f7f7;
				border: 1px solid #e5e5e5;
				border-radius: rem(15);
			}
		}
		@media (max-width: rem(1036)) {
			padding: 0;
		}
	}
	// .bottom-header__icons
	&__icons {
	}
	// .bottom-header__phone
	&__phone {
	}
}
.icons-header {
	display: flex;
	flex: 1 1 auto;
	justify-content: flex-end;
	align-items: center;
	gap: rem(12);
	&:not(:last-child) {
		margin-right: rem(38);
	}
	@media (max-width: $pc) {
		&:not(:last-child) {
			margin-right: rem(12);
		}
	}
	// .icons-header__icon
	&__icon {
		font-size: rem(20);
		padding: rem(8);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $hoverRed;
			}
		}
	}
}
.bottom-header {
	// .bottom-header__phone
	&__phone {
		display: flex;
		align-items: center;
		transition: color 0.3s ease 0s;
		padding: rem(8);
		&::before {
			@extend %ic;
			content: "\e90a";
			font-size: rem(20);
		}
		& span {
			display: none;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $hoverRed;
			}
		}
		@media (min-width: $pc) {
			flex-direction: row-reverse;
			gap: rem(10);
			letter-spacing: -0.03em;
			border: 1px solid #e5e5e5;
			border-radius: rem(15);
			padding: rem(5) rem(18);
			transition: all 0.3s ease 0s;
			&::before {
				content: "\e908";
				display: block;
				font-size: rem(14);
				color: $hoverRed;
			}
			& span {
				display: block;
			}
			@media (any-hover: hover) {
				&:hover {
					background: #f7f7f7;
				}
			}
		}
		@media (max-width: rem(565)) {
			&:not(:last-child) {
				@include adaptiveValue("margin-right", 30, 10);
			}
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: rem(565)) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
