.header {
	// .header__container
	&__container {
	}
	// .header__top
	&__top {
	}
	// .header__bottom
	&__bottom {
		padding: rem(10) 0;
		border-bottom: rem(1) solid #e5e5e5;
		@media (max-width: rem(1036)) {
			background: #f7f7f7;
			padding: 0;
		}
	}
}
.top-header {
	@media (min-width: rem(1036)) {
		min-width: rem(30);
		background: #f7f7f7;
		color: $colorText;
		font-size: rem(14);
		line-height: math.div(17, 14);
		letter-spacing: -0.03em;
		opacity: 0.6;
	}
	// .top-header__container
	&__container {
	}
	// .top-header__nav
	&__nav {
		border-bottom: rem(1) solid #e5e5e5;
	}
	// .top-header__body
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("padding-top", 22, 10);
		@include adaptiveValue("padding-bottom", 22, 10);
		@media (min-width: rem(1036)) {
			padding: 0;
		}
	}
	// .top-header__list
	&__list {
		&:not(:last-child) {
			margin-bottom: rem(28);
		}
		@media (min-width: rem(565)) {
			display: none;
			&:not(:last-child) {
				margin-bottom: 0;
			}
		}
		@media (min-width: rem(1036)) {
			display: flex;
			gap: rem(30);
			padding: rem(8) 0;
		}
	}
	// .top-header__item
	&__item {
	}
	// .top-header__link
	&__link {
		color: $colorText;
		line-height: 2;
		letter-spacing: -0.03em;
		@media (min-width: rem(565)) {
			padding: rem(10) 0;
			transition: color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: $hoverRed;
				}
			}
		}
	}
	// .top-header__location
	&__location {
		display: flex;
		font-size: rem(14);
		opacity: 0.6;
		gap: rem(10);
		align-items: center;
		&::before {
			font-size: rem(10);
			opacity: 0.6;
			transform: translateY(15%);
		}
		@media (min-width: rem(565)) {
			display: none;
		}
		@media (min-width: rem(1036)) {
			display: flex;
			flex-direction: row-reverse;
			padding: rem(8) 0;
			transition: color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: $hoverRed;
				}
			}
		}
	}
}
.bottom-header {
	// .bottom-header__container
	&__container {
		display: flex;
		align-items: center;
	}
	// .bottom-header__logo
	&__logo {
		position: relative;
		z-index: 5;
		&:not(:last-child) {
			@include adaptiveValue("margin-right", 30, 0);
		}
		& img {
			@include adaptiveValue("width", 185, 126);
		}
	}
	// .bottom-header__menu
	&__menu {
	}
	// .bottom-header__nav
	&__nav {
		&:not(:last-child) {
			@include adaptiveValue("margin-right", 60, 20, 1390, 1000, 1);
		}
		@media (max-width: rem(1036)) {
			flex: 1 1 auto;
		}
		@media (max-width: rem(565)) {
			&:not(:last-child) {
				margin-bottom: rem(28);
			}
		}
	}
	// .bottom-header__list
	&__list {
		@media (min-width: rem(565)) {
			display: flex;
			gap: rem(20);
			align-items: center;
			padding: rem(10) 0;
		}
	}
	// .bottom-header__item
	&__item {
		@media (max-width: rem(565)) {
			border-bottom: 1px solid #000000;
		}
	}
	// .bottom-header__link
	&__link {
		display: block;
		font-weight: 600;
		@include adaptiveValue("font-size", 40, 26);
		line-height: math.div(48, 40);
		letter-spacing: -0.03em;
		padding: rem(10) 0;
		@media (min-width: rem(565)) {
			font-weight: 600;
			font-size: rem(18);
			line-height: math.div(22, 18);
			transition: color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: $hoverRed;
				}
			}
		}
	}
	// .bottom-header__issuance
	&__issuance {
		display: inline-flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: rem(10);
		letter-spacing: -0.03em;
		color: $colorText;
		border: 1px solid transparent;
		transition: all 0.3s ease 0s;
		padding: rem(5) rem(18);
		&::before {
			font-size: rem(14);
			color: $hoverRed;
			transform: rotate(-45deg);
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-right", 50, 10, 1390, 1000, 1);
		}
		@media (any-hover: hover) {
			&:hover {
				background: #f7f7f7;
				border: 1px solid #e5e5e5;
				border-radius: rem(15);
			}
		}
		@media (max-width: rem(1036)) {
			padding: 0;
		}
		@media (max-width: rem(565)) {
			&:not(:last-child) {
				margin-bottom: rem(28);
			}
		}
	}
	// .bottom-header__icons
	&__icons {
	}
	// .bottom-header__phone
	&__phone {
	}
}
.icons-header {
	position: relative;
	z-index: 5;
	display: flex;
	flex: 1 1 auto;
	justify-content: flex-end;
	align-items: center;
	@include adaptiveValue("gap", 12, 0);
	&:not(:last-child) {
		margin-right: rem(38);
	}
	@media (max-width: rem(1198)) {
		&:not(:last-child) {
			margin-right: rem(10);
		}
	}
	@media (max-width: rem(565)) {
		&:not(:last-child) {
			@include adaptiveValue("margin-right", 60, 0);
		}
	}
	// .icons-header__icon
	&__icon {
		@include adaptiveValue("font-size", 20, 16);
		padding: rem(8);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $hoverRed;
			}
		}
	}
}
.bottom-header {
	// .bottom-header__phone
	&__phone {
		display: flex;
		align-items: center;
		transition: color 0.3s ease 0s;
		padding: rem(8);
		&::before {
			@extend %ic;
			content: "\e90a";
			@include adaptiveValue("font-size", 20, 16);
		}
		& span {
			display: none;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $hoverRed;
			}
		}
		@media (min-width: rem(1198)) {
			flex-direction: row-reverse;
			gap: rem(10);
			letter-spacing: -0.03em;
			border: 1px solid #e5e5e5;
			border-radius: rem(15);
			padding: rem(5) rem(18);
			transition: all 0.3s ease 0s;
			&::before {
				content: "\e908";
				display: block;
				font-size: rem(14);
				color: $hoverRed;
			}
			& span {
				display: block;
			}
			@media (any-hover: hover) {
				&:hover {
					background: #f7f7f7;
				}
			}
		}
		@media (max-width: rem(565)) {
			&:not(:last-child) {
				@include adaptiveValue("margin-right", 30, 10);
			}
		}
	}
}
.menu {
	// .menu__body
	&__body {
		left: -100%;
		@media (max-width: rem(565)) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			overflow: auto;
			background-color: #f0f0f0;
			padding: rem(100) rem(50) rem(50);
			transition: left 0.3s ease 0s;
			z-index: 4;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: rem(70);
				left: -100%;
				top: 0;
				background-color: #f0f0f0;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}
}
//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: rem(565)) {
		display: block;
		position: relative;
		flex: 0 0 rem(40);
		height: rem(40);
		background: #f0f0f0;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 70%;
			height: rem(2);
			background-color: #000;
			transform: translateX(-22.5%);
		}
		&::before {
			top: 30%;
		}
		&::after {
			bottom: 30%;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				left: 18%;
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				left: 18%;
				transform: rotate(45deg);
			}
		}
	}
}
