.page-slider {
}
/*==================== PAGE-SLIDER ====================*/
.slider-page {
	// .slider-page__slider
	&__slider {
		position: relative;
	}
	// .slider-page__wrapper
	&__wrapper {
	}
	// .slider-page__slide
	&__slide {
	}
	// .slider-page__navigation
	&__navigation {
		position: absolute;
		bottom: rem(55);
		@include adaptiveValue("left", 400, 250);
		display: flex;
		align-items: center;
		gap: rem(191);
		@media (max-width: $pc) {
			width: 100%;
			@include adaptiveValue("bottom", 75, 29, 991.98, 320, 1);
			left: 0;
		}
	}
	// .slider-page__arrows
	&__arrows {
		display: none;
		@media (min-width: $pc) {
			display: inline-flex;
			gap: rem(57);
		}
	}
	// .slider-page__pagination
	&__pagination {
		display: grid;
		grid-auto-flow: column;
		@media (max-width: $pc) {
			margin: 0 auto;
		}
	}
}
.slider-slide {
	// .slider-slide__wrapper
	&__wrapper {
		position: relative;
		height: 100%;
	}
	// .slider-slide__body
	&__body {
		width: 100%;
		height: 100%;
		min-height: rem(405);
		display: flex;
		flex-direction: column;
		@include adaptiveValue("padding-top", 50, 20);
		@include adaptiveValue("padding-left", 50, 20);
		@include adaptiveValue("margin-top", 30, 15);
		background: linear-gradient(180deg, #18568e 0%, #7fb1df 100%);
		border-radius: rem(8);
		border: rem(1) solid $colorGrey;
		@media (max-width: $mobile) {
			padding-right: rem(20);
		}
	}
	// .slider-slide__content
	&__content {
		max-width: rem(470);
		max-height: rem(305);
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
	}
	// .slider-slide__title
	&__title {
		flex: 1 1 auto;
		font-weight: 700;
		color: $colorWhite;
		@include adaptiveValue("font-size", 40, 24, 768, 320, 1);
		line-height: math.div(48, 40);
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
		& span {
			display: inline-block;
			background: #73c949;
			border-radius: rem(16);
			font-weight: 500;
			@include adaptiveValue("font-size", 16, 10, 768, 320, 1);
			line-height: math.div(19, 16);
			text-align: center;
			letter-spacing: -0.03em;
			padding: rem(5) rem(15);
			@include adaptiveValue("margin-left", 10, 0, 768, 320, 1);
			transform: translateY(-20%);
			margin-top: rem(10);
		}
	}
	// .slider-slide__section
	&__section {
		display: flex;
		@include adaptiveValue("gap", 60, 24);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 42, 28);
		}
		@media (max-width: $mobileSmall) {
			flex-direction: column;
		}
	}
	// .slider-slide__cost
	&__cost {
	}
	// .slider-slide__info
	&__info {
		display: flex;
		align-items: center;
		gap: rem(12);
		font-weight: 600;
		@include adaptiveValue("font-size", 18, 16, 768, 320, 1);
		line-height: math.div(22, 18);
		color: $colorWhite;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 6, 3, 768, 320, 1);
		}
	}
	// .slider-slide__label
	&__label {
		@include adaptiveValue("font-size", 16, 14, 768, 320, 1);
		color: $colorWhite;
	}
	// .slider-slide__date
	&__date {
	}
	// .slider-slide__button
	&__button {
	}
	// .slider-slide__link
	&__link {
		display: inline-flex;
		flex-direction: row-reverse;
		gap: rem(50);
		align-items: center;
		font-weight: 600;
		@include adaptiveValue("font-size", 18, 16, 768, 320, 1);
		line-height: math.div(22, 18);
		color: $colorWhite;
		border: rem(3) solid $colorWhite;
		border-radius: rem(4);
		@include adaptiveValue("padding-top", 16, 10, 768, 320, 1);
		@include adaptiveValue("padding-bottom", 16, 10, 768, 320, 1);
		@include adaptiveValue("padding-left", 23, 15, 768, 320, 1);
		@include adaptiveValue("padding-right", 23, 15, 768, 320, 1);
		transition: all 0.3s ease 0s;
		&::before {
			font-size: rem(10);
			transform: translateY(20%);
		}
		@media (max-width: $mobileSmall) {
			display: flex;
			flex: 1 1 100%;
			justify-content: space-between;
			border: rem(2) solid $colorWhite;
		}
	}
	// .slider-slide__img
	&__img {
		max-width: 769px;
		display: flex;
		justify-content: flex-end;
		margin-left: auto;
		margin-right: -20px;
		margin-bottom: -20px;
		overflow: hidden;
		& img {
			max-width: 100%;
			height: auto;
		}
		@media (min-width: $pc) {
			position: absolute;
			right: 0;
			top: -30px;
			bottom: 0;
			margin: 0;
		}
	}
}
/* Swiper class */
.swiper-button-prev,
.swiper-button-next {
	display: inline-flex;
	padding: rem(15);
}
.swiper-button-next span {
	border-style: solid;
	border-width: 6px 0px 6px 7px;
	border-color: transparent transparent transparent $colorWhite;
}
.swiper-button-prev span {
	border-style: solid;
	border-width: 6px 7px 6px 0;
	border-color: transparent $colorWhite transparent transparent;
}
.swiper-pagination-bullet {
	position: relative;
	margin: 0 rem(5);
	width: rem(8);
	height: rem(8);
	background-color: $colorWhite;
	cursor: pointer;
	border-radius: rem(50);
	transition: all 0.3s ease 0s;
	&::before {
		width: 0;
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		border-radius: rem(50);
		background: $hoverRed;
	}
}
.swiper-pagination-bullet-active {
	width: rem(24);
	&::before {
		transition: width 3s linear 0s;
		width: 100%;
	}
}
/*==================== / PAGE-SLIDER ====================*/
